$primaryColor:#1dad76;
$secondaryColor: #90EE90;

.bg1, .bg2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.bg1{
    z-index: -1;
    background-color: $primaryColor;

    -webkit-clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
    clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
}

.bg2{
    z-index: -2;
    background-color: $secondaryColor;

    -webkit-clip-path: polygon(63% 69%, 100% 9%, 100% 100%, 5% 100%);
    clip-path: polygon(63% 69%, 100% 9%, 100% 100%, 5% 100%);
}

#form_login{
    margin-top: 120px;
    #box{
        background-color: $primaryColor;
        width: 100%;
        height: 350px;
        border-radius: 25px;

        h2{
            text-align: center;
            margin-top: 20px;
            margin-bottom: 30px;
            color: #FFF;
            font-weight: bold;
        }
    }
    label{
        color: #FFF;
    }
    button{
        background-color: $secondaryColor;
        border: $primaryColor;
        color: #000;
    }
}
.custom_nav_bar {
  background-color: #1dad76;
  position: fixed;
  top: 0;
  width: 100%;

  .navbar-brand:hover{
    color: #FFF;
  }
  .nav-link{
    color: #FFF;
  }
  img{
      height: 40px;
      width: 30px;
      margin-top: -5px;
      margin-left: -5px;
  }
}

a {
  color: #FFF;
  text-decoration: none
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #FFF;
    border-color: #337ab7;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #FFF;
}

.nav>li.disabled>a {
  color: #777
}

.nav>li.disabled>a:focus,
.nav>li.disabled>a:hover {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent
}

.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
}

.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ma1 {
  margin: 15px
}

.ms1 {
  margin: 0px 10px
}

.mb1 {
  margin-bottom: 10px
} 

.form_section {
  border: solid 1px #CCC;
  border-radius: 8px;
  padding: 10px 25px;
  margin-bottom: 15px
}

.to-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  right: 0;
}

.pa1 {
  padding: 25px;
}