<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hospital Albert Einstein</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-frontpage.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img src="img/logo-hospital-albert-einstein.png"height="30%" width="20%" ></img></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sobre">Sobre
              
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#esp">Especialidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contato">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header with Background Image -->
    <header class="business-header" id="home">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
   
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <span><br></br>
      <br></br>
   <br id="sobre"></br></span>
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
           <h2 class="mt-4">Hospital Albert Einstein</h2>
          <p>A Sociedade Beneficente Israelita Brasileira Albert Einstein chega aos 60 anos, em 2015, fazendo uma das coisas que mais
          gosta: inovar e crescer, sempre com excelência. E olha que tudo começou pequeno, numa reunião de amigos, em 1955, em que
          o dr. Manoel Tabacow Hidal apresentou sua ideia de fazer um hospital. O sonho virou compromisso da comunidade judaica: oferecer
          à população do Brasil uma referência em qualidade da prática médica.</p>
          <p>Hoje, a Sociedade Beneficente Israelita Brasileira Albert Einstein está à frente de projetos importantes, que mostram como a parceria público-privada pode render frutos para a comunidade, inspirando outras instituições a engrossarem suas fileiras em prol da saúde do Brasil. As competências e conhecimentos do Einstein estão a serviço não só dos pacientes das oito unidades próprias, mas também em mais de duas dezenas de locais na Grande São Paulo, no Brasil e no mundo.</p>
           </div>
        
      <!-- /.row -->

      </div>
      <!-- /.row -->
      <section id="esp">
        <span>
        <br></br><h2 class="mt-4">Especialidades</h2></span>
        <div class="row">
          <div class="col-sm-4 my-4">
            <div class="card">
              <img class="card-img-top" src="img/neurocirurgia.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Neurologia</h4>
                <p class="card-text">O Programa dispõe das mais avançadas tecnologias de neuroimagem, como ressonância estrutural e funcional, tomografia computadorizada PET Scan (Pósitron Emission Tomography), angiografia cerebral digital, neurorradiologia  intervencionista e ultrassonografia cervical e transcraniana. </p>
              </div>
             
            </div>
          </div>
          <div class="col-sm-4 my-4">
            <div class="card">
              <img class="card-img-top" src="img/neurologia.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Neuro-oncologia</h4>
                <p class="card-text">A Neuro-oncologia do Hospital Israelita Albert Einstein dispõe de excelente infraestrutura para o diagnóstico e tratamento dos pacientes com tumores do Sistema Nervoso, contando com equipe médica altamente especializada e equipamentos de última geração, tudo isso em parceira com o M.D. Anderson Cancer Centr (Houston - Texas), um dos maiores hospitais do mundo.</p>
              </div>
              </div>
          </div>
          <div class="col-sm-4 my-4">
            <div class="card">
              <img class="card-img-top" src="img/radioterapia.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Radioterapia</h4>
                <p class="card-text">A radioterapia utiliza diferentes formas de radiação ionizante para o tratamento de câncer e doenças benignas de forma segura e eficiente. Os oncologistas radioterápicos podem utilizar a radiação para curar o câncer, controlar o crescimento de células ou paliar sintomas
                    O efeito da radioterapia se deve ao dano provocado no DNA das células, quando os tecidos são irradiados.</p>
              </div>
              </div>
          </div>
        </div>
      </section>
      <div class="row justify-content-center" id="contato"> 
        
        <div class="col-12 col-md-8 col-lg-6 pb-5">
                          <!--Form with header-->
                          <span><br></br>
                            <br></br></span>
                          <h2 class="card-title">Entre em contato conosco</h2>
                            <div class="card border-primary rounded-0">
                               
                                <div class="card-body p-3" id="card-contact">
    
                                    <!--Body-->
                                    <div class="form-group">
                                       
                                        <div class="input-group mb-2">
                                            
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                            </div>
                                                                                       
                                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                            </div>
                                            <input type="email" class="form-control" id="email" name="email" placeholder="exemplo@gmail.com" required="">
                                        </div>
                                    </div>
    
                                    <div class="form-group">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-comment text-info"></i></div>
                                            </div>
                                            <textarea class="form-control" name="mensagem" placeholder="Mensagem" required=""></textarea>
                                        </div>
                                    </div>
    
                                    <div class="text-center">
                                        
                                        <input type="submit" value="Enviar" class="btn btn-info btn-block rounded-0 py-2">
                                    </div>
                                </div>
    
                            </div>
                                             
                    </div>
    </div>
    <!-- /.container -->

    
    
    <!-- Footer -->
    <span><br></br>
      <br></br>
    <br></br></span>
    <footer class="py-5 bg-dark">

      <div class="container">
        <p class="m-0 text-center text-white">Instituto Albert Einstein 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
